<!DOCTYPE html>
<html>
<body>
<p>
<center>
    <h1>Welcome to my music gateway</h1>
    <br/>
    <a href='#'>
        <img class='resize_fit_center'
             width="500" height="200"
             src='music_image.png'
             alt='music notes'/>
    </a>
</center>
<h3>
    <ul>
        <li>A gateway to some cool music databases!</li>
        <br/>
        <li>Response enrichment also possible</li>
        <br/>
        <li><p style="color:blue">Try some:</p>
            <ul>
                <li><a href="http://localhost/music/artist?fmt=json&amp;query=artist:fred">MusicBrainz
                    artist search (multiple results)</a></li>
                <li>
                    <a href="http://localhost/music/artist?fmt=json&amp;query=artist:&quot;The Fred Astaire Dance Studio Orchestra&quot;">MusicBrainz
                        artist search (single result)</a></li>
                <li>
                    <a href="http://localhost/music/release?fmt=json&amp;artist=3ae3fa20-d295-467c-b59f-969376a28470">MusicBrainz
                        list of artist's releases</a></li>
                <li><a href="http://localhost/music/?fmt=json">And much more...!</a></li>
            </ul>
        </li>
    </ul>
</h3>
</body>
</html>